<div class="container">
  <h2>Restaurant page</h2>
  <h4><%= @restaurant.name %></h4>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>

  <p><strong>Reviews</strong></p>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <%= link_to restaurant.name, restaurant_path(restaurant), class: "restaurant-link" %>
    <% end %>
  </ul>

  <p><%= link_to 'Back', restaurants_path, class:"btn btn-light" %></p>
</div>
