<div class="container">
  <h2>Restaurant page</h2>
  <h4><%= @restaurant.name %></h4>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>

  <p><strong>Reviews</strong></p>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <%= link_to review.title, restaurant_review_path(@restaurant, review), class: "review-link" %>
    <% end %>
  </ul>

<%= link_to 'Review', new_restaurant_review_path(@restaurant), class:"btn btn-light"%>
<%= link_to 'Back', restaurants_path, class:"btn btn-light" %>


</div>
